.app-container {
    background-color: #232840;
    height: 580px;
    width: 340px;
}

.avatar-container {
    width: 50px;
    height: 50px;
    position: relative;
    padding: 0 !important;
}

.avatar-container>img {
    padding: 0;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
}

.username {
    height: 50px;
    text-align: left;
    color: #fff;
}

.mymenu {
    color: #fff;
}
